
body {
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #fff;
}
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: #212121;
    padding: 20px;
    margin:60px 20px;
    width: 200px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15), 0 0 10px rgba(255, 255, 255, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}



.sidebar h1 {
    color: #FFB100;
    margin: 20px;
}
.sidebar nav ul {
    list-style: none;
    padding:20px;
}
.sidebar nav ul li {
    font-size: 1.2rem;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sidebar nav ul li:hover {
    transform: translateY(-10px);
    border-radius: 10p;
    box-shadow: 0 15px 25px rgba(255, 177, 0, 0.3), 0 0 15px rgba(255, 177, 0, 0.2);
    color: #FFB100;
}

.sidebar nav ul ul {
    list-style: none;
    padding-left: 20px; 
    display: none;
    
}

.sidebar nav ul li:hover > ul {
    display: block;
}

.sidebar nav ul li ul li {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar nav ul li ul li:hover {
    transform: translateX(10px); 
    color: #FFB100; 
}


/* Hamburger Menü */
.menu-toggle {
    display: none;
    position: fixed;
    top: 70px;
    left: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.3s ease;
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease, left 0.3s ease;
}

/* Hamburger Menü Sağa Kayarak X'e Dönüşmesi */
.menu-toggle.open {
    transform: translateX(120px); 

}

.menu-toggle.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0; 
}

.menu-toggle.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between; 
    align-items: center;
    margin: 40px 40px; 
}

.head-title, .section-title{
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    color: #FFB100;
}

.head-title{
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    padding: 18px 15px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15), 0 0 10px rgba(255, 255, 255, 0.1);
}

.search-bar input {
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

.search-bar i {
    color: #fff;
    margin-left: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Sosyal Medya İkonları */
.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.social-icons div {
    background-color: #212121;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15), 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Efekti */
.social-icons div:hover {
    transform: translateY(-10px); /* Div yukarı hareket eder */
    box-shadow: 0 15px 25px rgba(255, 177, 0, 0.3), 0 0 15px rgba(255, 177, 0, 0.2); /* Vurgulu gölge */
}

.social-icons i {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons div:hover i {
    transform: scale(1.2); /* İkon büyür */
    color: #FFB100; /* Renk değişimi */
}


/* "upcoming" container'ı genişliği doldurur */
.upcoming {
    margin: 20px auto;
    width: 90%; /* Tüm genişlik boyunca uyumlu */
    max-width: 1200px; /* Geniş ekranlar için sınır */
    height: 500px; /* Yüksekliği arttırıldı */
    background: #212121; /* Arka plan uyumu */
    border-radius: 10px;
    overflow: hidden; /* Taşmayı engeller */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex; /* Flexbox ile iframe merkezlenir */
    justify-content: center;
    align-items: center;
}

/* "banner" container'ı genişliği doldurur */
.banner {
    width: 100%; /* "upcoming" container'ın genişliğine uyar */
    height: 100%; /* "upcoming" container'ın yüksekliğine uyar */
}

/* iframe tam olarak container'ı doldurur */
#youtube-player {
    width: 100%; /* Tüm genişlik */
    height: 100%; /* Tüm yükseklik */
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 10px; /* Yuvarlatılmış köşeler */
    object-fit: cover; /* İçerik oranlarını korur ve container'a oturur */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); /* Hafif gölge */
}




/* Latest Music Bölümü */
.latest-music {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dinamik grid */
    gap: 30px;
    padding: 20px;
    width: 90%;
    margin: 0 auto; /* Ortalamak için */
}

.track-card {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: #1e1e1e; /* Daha koyu bir arka plan */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.track-card:hover {
    transform: translateY(-10px); /* Hover efekti */
    box-shadow: 0 15px 25px rgba(255, 177, 0, 0.4);
}

.track-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFA500; /* Daha parlak renk */
}




.track-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.track-details {
    padding: 10px;
}

.track-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFB100;
}

.track-user,
.track-playlist,
.track-stats {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.track-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #FF6F61;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.track-link:hover {
    background-color: #FA4032;
}

.play-button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #FF6F61;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.play-button:hover {
    background-color: #FA4032;
}


/* Footer Styling */
.footer {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background: #212121; 
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15), 0 0 10px rgba(255, 255, 255, 0.1);

}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #FFB100;
}

.footer-section p, .footer-section ul {
    font-size: 0.9rem;
    margin: 5px 0;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-section ul li:hover {
    color: #FFB100;
}

.footer-social-icons i {
    margin-right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-social-icons i:hover {
    color: #FFB100;
}

.payment-icons img {
    width: 50px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.payment-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin: 20px auto;
    font-size: 1.2rem;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background: #212121; /* Arka plan uyumu */
    border-radius: 20px;
    overflow: hidden; /* Taşmayı engeller */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15), 0 0 10px rgba(255, 255, 255, 0.1);
}

.footer-bottom a {
    color: #FFB100;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}




/* Responsive Sidebar */
@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-95%);
    }
    .sidebar.show {
        transform: translateX(0);
    }
    .menu-toggle {
        display: block;
    }


    .main-content {
        margin-left: 0;
    }

    .header {
        margin:20px;
        justify-content: center;
    }

    .head-title{
        display: block;
    }

    .social-icons {
        margin-top: 20px;
    }

    .upcoming {
        width: 90%;
        height: auto; /* Mobil cihazlarda içerik uyumlu */
    }

    #youtube-player {
        height: 300px; /* Mobilde daha küçük */
    }

    .latest-music {
        grid-template-columns: 1fr; /* Tek sütun */
        gap: 15px; /* Daha dar boşluk */
    }
}
